.hamb {
    position: absolute;
    top: 0;
    right: 4%;
    width: 128px;
    height: 128px;
    cursor: pointer;
}
.barre1, .barre2, .barre3 {
    background-color: $second-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 5px;
}
.barre2 {
    top: 40%;
}
.barre3 {
    top: 60%;
}
.croix .barre1{
    opacity: 0;
}
.croix .barre2 {
    transform: rotate(45deg);
    transition: 0.6s;
    left: 30%;
    top: 50%;
}
.croix .barre3 {
    transform: rotate(-45deg);
    transition: 0.6s;
    left: 30%;
    top: 50%;
}
.hamb .barre1,
.hamb .barre2,
.hamb .barre3 {
    transition: 0.6s;
}
